/* Layout antigo */
.icon-card{
  width:15px;
  margin-right: 15px;
}
.emailCoautor{
margin-bottom:10px;
}

.visualizarEvento{
  color:rgb(12, 45, 136);
}
.visualizarEvento:hover{
  color:rgb(12, 45, 136);
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-primary{
  background-color: rgb(0, 140, 255);;
  border-color: rgb(0, 140, 255);;
}


.card{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#options::after{
  display:none;
}
/* #options:hover{
  background-image: url('/img/icons/ellipsis-v-solid-hover.svg');
  transition: 0.2s;
} */
.dropdown-options{
  float:right;
  margin-right:-5px;
}

.dropdown-item:hover{
  background-color: #ccc;
}

.margin{
  margin-bottom:20px;
}

.info-evento img{
  width: 20px;
}

.info-evento p{
  font-size: 15px;
}

/* Detalhes do Evento */
.main_content{

  /* height: 100vh; */
  width: 100% - 200px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.19); */
}
.titulo{
  margin:7% 0 2% 0;
  border-bottom: 2px solid #ccc;
}
.titulo h1{
  font-size: 35px;
}
.subtitulo{
  font-size:25px
}

.titulo-detalhes{

  border-bottom: 2px solid #ccc;
}
.subtitulo-detalhes{
  font-size: 25px;
}
.card-footer button{
  float: right;
}

/* EVENTO */

.front-image-evento{
  margin-top: 25px;
  margin-left: 8%;
  margin-right: 8%;
  height: 200px;
  width: 100%;
  z-index: 15;
  /* position: relative; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  float: left;
  border-radius: 10px;

  /* width: 500px; */

}

/* novo layout */

#logo-menu {
  height: 40px;
  width: auto;
}

.links-menu {
  position: relative;
}

.btn-azul-destaque {
  border: 2px solid rgb(0, 140, 255);
  border-radius: 10px;
  box-shadow: black;
}

.navbar img{
  width:20px;
  margin-right: 10px;
}
.btn {
  border-radius: 10px;
}



.negrito {
  font-weight: bolder;
}

.btn-login {
  background-color: rgb(0, 140, 255);
  text-align: center;
  border-radius: 3px;
  width: 100%;
  font-weight: 700;
  color: white;
}

.btn-login:hover {
  color: black;
}

.position-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
  height: auto;
  max-width: 100%;
}

.position-text {
  position: relative;
  top: 50px;
  text-align: justify;
}

.list-editais {
  border-radius: 5px;
  box-shadow: black;
  margin: 2px;
  padding: 10px;
}

.img-arquivo {
  width: 20px;
  height: auto;
  padding-top: 10px;
}

.color-subtitle-edital {
  color: rgb(150, 151, 151);
}

.btn-opcoes-edital {
  font-weight: bolder;
  color: white;
  background-color: rgb(0, 140, 255);
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
}

.li-editais {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  box-shadow: black;
  padding: 5px;
  margin-bottom: 5px;
}

#editais {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
}

.flexcroll{ 
  width:99%;
  height:400px;
  overflow-y:inherit;
  overflow-x:hidden;
 }

.flexcroll{
  scrollbar-face-color: rgb(0, 140, 255);
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgb(0, 140, 255); 
  box-shadow: currentColor 0 0 6px rgba(0,0,0,0.5); 
}


section {
  margin-bottom: 150px;
}

.rodape {
  background-color: rgb(0, 140, 255);
  position: relative;
  width: 100%;
  height: 25%;
  top: 90%;
  bottom: 0px;
  padding: 20px;
  margin-top: 75px;
}

.logo-lmts {
  display: block;
  position: relative;
  height: auto;
  width: 150px;
  top: 35px;
}

.logo-ufape {
  display: block;
  position: relative;
  height: 100px;
  width: auto;
}

.format-text {
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  margin: 10px;
}

.card-menu {
  color: rgb(0, 140, 255);
  border-radius: 15px; 
  width: 14rem;
  height: 16rem;
  border-color: rgb(0, 140, 255);
}

.titulo-menu {
  color: rgb(0, 140, 255);;
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.titulo-card-menu {
  margin-bottom: 10px;
}

.info-card {
  margin-top: 45px;
}

.quant-titulo-card {
  font-size: 60px;
}

.btn-info {
  border-radius: 5px;
  background-color: rgb(55, 187, 55);
  color: white;
  font-weight: bolder;
  border-color: rgb(55, 187, 55);
}

.btn-info:hover {
  border-radius: 5px;
  background-color: rgb(172, 172, 172);
  color: black;
  font-weight: bolder;
  border-color: rgb(172, 172, 172);
}

.btn-primary {
  border-radius: 5px;
  font-weight: bolder;
}

.btn-secondary {
  border-radius: 5px;
  font-weight: bolder;
}

.btn-danger {
  border-radius: 5px;
  font-weight: bolder;
}

.btn-success {
  border-radius: 5px;
  font-weight: bolder;
}

.dropdown-item {
  color: rgb(0, 140, 255);
}

.dropdown-item:hover {
  color: rgb(0, 140, 255);
}

.dropdown-item-delete {
  background-color: red;
  width: 155px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.dropdown-item-delete:hover {
  background-color: rgb(207, 0, 0);
  color: white;
}

.dropdown-options a:hover {
  text-decoration: none;
}

.dropdown-hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 80%;
}

.titulo-table {
  color: rgb(0, 140, 255);
}

.table th {
  color: rgb(0, 140, 255);
}

.form-control-edit {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-color: rgb(0, 140, 255);
}

.form-control-edit:focus {
  border-color: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.form-control-edit:hover {
  border-color: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-color: rgb(0, 140, 255);
}

.modal-header-submeta {
  border-bottom: 1px solid rgb(0, 140, 255);
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.labels-blue label {
  color: rgb(0, 140, 255);
  font-weight: 500;
}

.modal-submeta {
  border-radius: 20px;
  border-color: rgba(204, 204, 204, 0.555);
}

.texto-info {
  color: rgba(102, 102, 102, 0.705);
  text-align: justify;
  font-size: 12px;
  padding-top: 0px;
  margin-bottom: 40px;
  font-weight: 500;
  border-top: 1px solid rgba(102, 102, 102, 0.555) ; 
}


button.close {
  padding: 0;
  font-size: 35px;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
}

.close:hover, .close:focus {
  color: none;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.select-submeta {
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
}

.background-yellow {
  background-color: rgb(42, 212, 0);
}

.background-red {
  background-color: rgb(235, 0, 0);
}

.btn-cadastro {
  color: white; 
  background-color: rgb(172, 79, 235);
  text-align: center;
  border-radius: 3px;
  width: 100%;
  font-weight: 700;
  margin-bottom: 0px;
}

.btn-cadastro:hover {
  color: black;
}

.bottomVoltar{
  display: none;
  margin-right:10px;
}
@media screen and (max-width: 767px){
  .bottomVoltar{
      display: block;
      margin-right:10px;
  }
}
.imagem_shadow{
  transition: -webkit-filter 0.5s;
}
.imagem_shadow:hover{
  -webkit-filter: drop-shadow(5px 5px 5px rgb(206, 206, 206)); filter: drop-shadow(5px 5px 5px rgb(206, 206, 206)); 

}